<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QnaBoardMapper">

	<select id="getBoardList" resultType="QnaBoardVO">
	<![CDATA[
		SELECT board_id, subject, title, writer, write_date, is_answered
		FROM (
		      SELECT board_id, subject, title, writer, write_date, is_answered, row_number() over(order by board_id desc) as rNum
		      FROM qna_board
		      )
		WHERE rNum between #{startRow} AND #{endRow}
		ORDER BY board_id DESC
	]]>
	</select>

	<select id="getMyBoardList" parameterType="map"
		resultType="QnaBoardVO">
		SELECT board_id, subject, title, writer, write_date, is_answered
		FROM (
		SELECT board_id, subject, title, writer, write_date, is_answered,
		row_number() over(order by board_id DESC) as rNum
		FROM qna_board
		WHERE
		writer_id = #{userId}
		<if test="searchType != null and keyword != null">
			<choose>
				<when test="searchType == 'title'">
					AND title LIKE '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'content'">
					AND content LIKE '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'subject'">
					AND subject LIKE '%' || #{keyword} || '%'
				</when>
				<otherwise>
					AND (title LIKE '%' || #{keyword} || '%' OR content LIKE '%' ||
					#{keyword} || '%')
				</otherwise>
			</choose>
		</if>
		) sub
		WHERE rNum between #{criteria.startRow} AND #{criteria.endRow}
		ORDER BY board_id DESC
	</select>

	<!-- 게시글 총 개수 조회 -->
	<select id="getBoardCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*)
		FROM qna_board
	]]>
	</select>

	<select id="getMyBoardCount" parameterType="map"
		resultType="int">
		SELECT COUNT(*)
		FROM qna_board
		WHERE writer = #{userId}
		<if test="searchType != null and keyword != null">
			<choose>
				<when test="searchType == 'title'">
					AND title LIKE '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'content'">
					AND content LIKE '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'subject'">
					AND subject LIKE '%' || #{keyword} || '%'
				</when>
				<otherwise>
					AND (title LIKE '%' || #{keyword} || '%' OR content LIKE '%' ||
					#{keyword} || '%')
				</otherwise>
			</choose>
		</if>
	</select>

	<insert id="writeQnaBoard" parameterType="QnaBoardVO">
		INSERT INTO QNA_BOARD (board_id, subject, title, content, writer, writer_id)
		VALUES (qna_board_seq.NEXTVAL, #{subject}, #{title}, #{content}, #{writer}, #{writerId})
	</insert>


</mapper>

